@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --dark-color:#F0F2FA;
    --light-color:#05070F;
    --dark-background:#04050C;
    --light-background:#F4F4FB;
    --primary :#374EB3;
    --light-primary:#4C62C8;
    --secondary:#571F61;
    --light-secondary:#D69EE0;
    --accent:#8C2B76;
    --dark-accent:#D473BD;
}
