@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-color: #f0f2fa;
  --light-color: #05070f;
  --dark-background: #101528;
  --light-background: #f4f4fb;
  --primary: #374eb3;
  --light-primary: #4c62c8;
  --secondary: #571f61;
  --light-secondary: #d69ee0;
  --accent: #8c2b76;
  --dark-accent: #d473bd;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
